<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.gluonhq.chat.GluonChatApp</string>
	<key>CFBundleVersion</key>
	<string>1.0.5</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.5</string>
	<key>CFBundleExecutable</key>
	<string>App</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleName</key>
	<string>The ChatApp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>UIRequiresFullScreen</key>
	<string>YES</string>
	<key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>tile.openstreetmap.org</key>
            <dict>
                <key>NSIncludesSubdomains</key><true/>
                <key>NSExceptionAllowsInsecureHTTPLoads</key><true/>
                <key>NSExceptionRequiresForwardSecrecy</key><false/>
            </dict>
        </dict>
    </dict>
    <key>NSLocationUsageDescription</key>
    <string>The ChatApp requires Location Service enabled to share your location</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>The ChatApp requires Location Service enabled to share your location</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>The ChatApp requires Location Service enabled to share your location</string>
    <key>NSCameraUsageDescription</key>
    <string>The ChatApp requires access to the Camera to share pictures</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>The ChatApp requires access to the Photo Library to share pictures</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>The ChatApp requires access to the Photo Library to share pictures</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>The ChatApp requires doesn't use Bluetooth</string>
</dict>
</plist>