@import "styles.css";

/** TODO: Needs better naming **/
.root {
    -chat-accent      : #607387;
    -chat-light-color : #ece9e9;
    -chat-medium-color: #677585;
    -chat-dark-color  : #4f5c71;

    -primary-swatch-500: -chat-accent;

    /* text color palette */
    -chart-dark-text-fill : #818181;
    -chart-light-text-fill: #f4fdff;

    -fx-font-size: 12pt;

    -unread-label: #4d2007;
    -unread-color: rgba(119, 45, 4, 0.8);
    -unread-color-hover: rgba(147, 32, 4, 0.8);
}

.label {
    -fx-text-fill: -chart-light-text-fill;
}