@import "styles.css";

.root {
    /* accent color pallete */
    -chat-accent       : #4aadda;
    -chat-accent-light : derive( -chat-accent, 100% );
    -chat-accent-dark  : derive( -chat-accent, -20% );

    /* background color palette */
    -chat-background       : #677585;
    -chat-background-light : derive( -chat-background, -20% );
    -chat-background-dark  : derive( -chat-background,  20% );

    /* text color palette */
    -chat-text-fill       : #e7e4e4;
    -chat-text-fill-light : derive( -chat-text-fill,  50% );
    -chat-text-fill-dark  : derive( -chat-text-fill, -20% );

    /** Views related vars */
    -chat-accent-selected: -chat-background-dark;
    -chat-bubble-background: -chat-background-dark;

    /** Glisten swatch */
    -primary-swatch-500: -chat-accent;
}