@import "fancy-scroll-bars.css";

@font-face {
    font-family: "FontAwesome";
    src: url('fontawesome-webfont.ttf');
}

@font-face {
    font-family: 'Inter Regular';
    src: url('Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter Bold';
    src: url('Inter-Bold.ttf');
}


.root {
    -fx-font-family: 'Inter'; /* uses all available weights*/
    -fx-font-size: 10pt;

    /* accent color palette */
    -chat-accent       : #4aadda;
    -chat-accent-light : derive( -chat-accent, 100% );
    -chat-accent-dark  : derive( -chat-accent, -20% );

    /* background color palette */
    -chat-background       : #EBEDEF;
    -chat-background-light : white;
    -chat-background-dark  : derive( -chat-background, -20% );

    /* text color palette */
    -chat-text-fill       : #5c5c5c;
    -chat-text-fill-light : derive( -chat-text-fill,  50% );
    -chat-text-fill-dark  : derive( -chat-text-fill, -20% );
    -chat-text-fill-blue       : #235e95;
    -chat-text-fill-blue-light  : derive( -chat-text-fill-blue,  50% );
    -chat-text-fill-blue-dark   : derive( -chat-text-fill-blue,  -20% );

    /** Views related vars */
    -chat-accent-selected: -chat-accent-light;
    -chat-bubble-background: -chat-accent-light;

    -unread-label: #f17835;
    -unread-color: #f17835cc;
    -unread-color-hover: #df502dcc;

    /** Glisten swatch */
    -primary-swatch-500: -chat-accent;
}

.view {
    -fx-background-color: -chat-background-light;
}

.app-bar {
    -fx-background-color: -chat-background-light;
}

.app-bar,
.app-bar > .title-box > .label {
    -fx-icon-fill: -chat-text-fill;
}

.app-bar  > .action-items > .icon-toggle {
    -fx-text-fill: -chat-text-fill;
    -fx-label-padding: 0 0 0 0;
}

.app-bar  > .action-items > .icon-toggle:hover {
    -fx-text-fill: -chat-text-fill-dark;
    -fx-background-color: -chat-background-dark;
}

.font-icon {
    -fx-font-family: "FontAwesome";
    -fx-font-size: 1.8em;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-pref-width: 3em;
    -fx-alignment: CENTER;
}