.search-box {
    -fx-background-radius: 1em;
    -fx-border-radius: 2em;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.search-box > .icon > .icon-text {
    -fx-text-fill: -chat-text-sent-fill-500;
}

.search-box > .charm-text-field > .text-field {
    -fx-text-fill: -chat-text-sent-fill-500;
    -fx-prompt-text-fill: derive(-chat-text-sent-fill-500, 10%);
}

.channel-list,
.channel-list > .list-view,
.channel-list .list-cell  {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.channel-list .floating-header {
    -fx-effect: -elevation-z1;
}

.channel-list .list-cell.header-cell > .header-box {
    -fx-background-color: -chat-background-200;
    -fx-padding: 10;
    -fx-alignment: center-left;
}

.channel-list .list-cell.header-cell > .header-box > .label {
    -fx-font-weight: bold;
    -fx-text-fill: -chat-text-sent-fill-500;
    -fx-font-size: 1.2em;
}

.channel-list .list-cell .primary-text {
    -fx-text-fill: -chat-text-sent-fill-500;
}

.channel-list .channel-cell:hover {
    -fx-background-color: -chat-background-500;
}

.channel-list .channel-cell:selected,
.channel-list .channel-cell:selected .primary-text {
    -fx-background-color: -chat-accent-selected;
}

.channel-list .channel-cell:unread .primary-text {
    -fx-font-weight: bold;
}

/** Setting HeadersFunction to CharmListView
leads it to covering the entire width **/
.landscape-view .channel-list {
    -fx-max-width: 250px;
}

.list-tile > .primary-graphic {
    -fx-font-size: 1em;
    -fx-pref-width: 10mm;
    -fx-pref-height: 10mm;
}

.channel-icon {
    -fx-text-fill: -chat-text-sent-fill-500;
    -fx-background-color: -chat-background-500;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-alignment: center;
    -fx-padding: 6;
    -fx-font-weight: normal;
}

.avatar {
    -charm-radius: 5mm;
}

.avatar > .decoration {
    -fx-fill: transparent;
    -fx-stroke: transparent;
}