.box {
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: CENTER;
}

.header {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.text-box {
    -fx-alignment: CENTER;
}

.text-box > .label {
    -fx-font-size: 0.9em;
}

.text-box > .icon {
    -fx-padding: 10px;
}

.text-box > .icon > .label {
    -fx-font-size: 2em;
}