.rich-text > .scroll-pane {
    -fx-padding: 5;
}

.rich-text .content-area {
}

.rich-text .content-area > .layers > .text-flow {
    -fx-padding: 10;
}

.rich-text .caret {
    -fx-stroke: rgba(71, 145, 245, 0.9);
}

.rich-text .selection {
    -fx-stroke: transparent;
    -fx-fill: rgba(71, 145, 245, 0.3);
}