name: Build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'oracle'
          cache: 'maven'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN

      - name: Build project (macOS)
        if: runner.os == 'macOS'
        run: |
          ./mvnw -B -ntp verify -f rta

      - name: Build project (Windows)
        if: runner.os == 'Windows'
        run: |
          .\mvnw -B -ntp verify -f rta

      - name: Build project (Linux)
        if: runner.os == 'Linux'
        run: |
          export DISPLAY=:90
          Xvfb -ac :90 -screen 0 1280x1024x24 > /dev/null 2>&1 &
          ./mvnw -B -ntp verify -f rta

      - name: Publish Snapshots
        if: github.ref == 'refs/heads/main' && runner.os == 'Linux'
        run: |
          ver=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout -f rta)
          if [[ $ver == *"SNAPSHOT"* ]]; then
              ./mvnw -B -ntp -Dmaven.test.skip=true deploy -f rta
          fi
        shell: bash
        env:
          MAVEN_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.SONATYPE_PASSWORD }}
